<div id="wrapper">
    <h1 class="text-center">Note Articles Scraper</h1>
    <br>
    <br>
    <div class="container row col-12">
        <div class="jumbotron ml-2" id="articles"></div>
        <div class="pl-4" id="notes"></div>
    </div>

</div>